/* universal styles */
* {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .2rem;
    grid-template-areas: 
        "header header header header header header"
        "filters animal_col1 animal_col2 animal_col3 animal_col4 animal_col5"
        "filters animal_col1 animal_col2 animal_col3 animal_col4 animal_col5";
    grid-template-rows: .3fr 1fr 1fr 1fr 1fr;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    background-color: #E5AA70;
}

/* grid-layout styles */
header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid; /* temp */
    grid-area: header;
   
}

#filters {
    padding-left: 1.5em;
    grid-area: filters;
}

#animal_col1 {
    grid-area: animal_col1;
}

#animal_col1 img {

}

#animal_col2 {
    grid-area: animal_col2;
}

#animal_col2 img {

}

#animal_col3 {
    grid-area: animal_col3;
}

#animal_col4 {
    grid-area: animal_col4;
    margin-top: 1em;
}

#animal_col5 {
    grid-area: animal_col5;
    margin-top: 1em;
}

/* image styles */
img {
    width: 150px;
    height: 150px;
}

/* colulmn section styles */
section[id^="animal_col"] {
    align-items: center;
}

section[id^="animal_col"] div {
    text-align: center;
    margin-bottom: 1rem;
}

/* filtered species styles */
#filtered_animals {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

#filterted_animals div {
    text-align: center;
}