/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* body styles */
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    background-image: url("photos/background_lessOpacity.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    grid-template-areas: "header header"
                         "addStory browseStories";
}

/* grid styles */
#add_adoption_story {
    grid-area: addStory;
}

#browse_stories_h2 {
    grid-area: browseStories;
}

/* header styles */
header h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

header a {
    text-decoration: none;
    color: white;
}

header a:active {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: orange;
}
