/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    clear: both;
}

/* body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-image: url("photos/background_lessOpacity.jpg");
}

/* header styles*/
header h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

header a {
    text-decoration: none;
    color: white;
}

header a:active {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: orange;
}

/* slider styles */

#donation_section {
    overflow: hidden;
    
}
#donation_section .slider_container{
    border-style: solid ; /* temp */
    width: fit-content;
    float: left;
}

#donation_section .slider {
    width: 100%;
    cursor: pointer;
}

#donation_section .text_body {
    background-color: rgba(0147,112,219, 0.5);
    width: fit-content;
    float: left;
}




