/* universal styles */
* {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "text-body text-body video"
        "text-body text-body photos"
        "footer footer footer";
    gap: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    background-image: url("photos/background_lessOpacity.jpg");
}

/* grid-layout styles */

header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#side_spacer {
    grid-area: side;

}

.text-body {
    grid-area: text-body;
    color: black;
    align-self: start;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.video {
    grid-area: video;
    padding: 1.5rem;
}
.video video {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.photos {
    grid-area: photos;
    padding: 1.5rem;
}

/* header styles */
header h1 {
    text-align: center;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}

/* navigation list styles */
#navList {
    list-style-type: none;
    text-align: center;
}

#navList li {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}

#navList a {
    text-decoration: none;
    color: white;
}

#navList a:visited {
    color: white;  
}

#navList a:hover {
    color: orange;
}

#navList a:active {
    color: black;
}

/* photo styles */
#photo1 {
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-bottom: 8em; */
}

#photo2 {
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-bottom: 8em; */
    
}

img.enlarged {
    transform: scale(2);
}


/* paragraph styles */
p {
    font-size: 1.8em;
    font-family: Arial, sans-serif;
}