/* Code written by Ethan Bukkos */

/* universal styles */
* {
    margin: 0;
    padding: 0;
}

/* body styles */
body {
    display: grid;
    grid-template-columns: 1fr minmax(250px, 2fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "text-body text-body video"
        "text-body text-body photos"
        "footer footer footer";
    grid-gap: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-image: url("photos/background_lessOpacity.jpg");
}

/* grid-layout styles */

.wrapper {
    grid-area: text-body;
    padding-top: 1.5rem;
    padding-left: 2rem;
    text-align: center;
}

.wrapper p {
    background-color: rgba(0147,112,219, 0.5);
    border-style: outset;
    border-color: rgba(0147,112,219, 0.5);
    min-width: 7em;
}

.video {
    grid-area: video;
    padding: 1.5rem;
}
.video video {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.photos {
    grid-area: photos;
    padding: 1.5rem;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

/* header styles */
header h1 {
    text-align: center;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}

/* navigation list styles */
#navList {
    list-style-type: none;
    text-align: center;
}

#navList li {
    display: inline-block;
    width: 20%;
}

#navList a {
    text-decoration: none;
    color: white;
}

#navList a:visited {
    color: white;  
}

#navList a:hover {
    color: orange;
}

#navList a:active {
    color: black;
}

/* photo styles */
#photo1 {
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-bottom: 8em; */
}

#photo2 {
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-bottom: 8em; */
    
}

img.enlarged {
    transform: scale(2);
}


/* paragraph styles */
p {
    font-size: 1.8em;
    font-family: Arial, sans-serif;
}

/* adopt dropdown list styles */
#dropdown_list {
    position: relative;

}

#dropdown_list_content {
    display: none;
    position: absolute;
    top: 100%;
    /* left and tranform rule ensure the menu is directly below 'Adopt' */
    transform: translateX(-50%); 
    left: 50%;
    background-color: orange;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: left;
}

#dropdown_list_content li {
    padding: 10px 20px;
    cursor: pointer; /* cursor becomes a pointer when it hovers over item */
    width: 100%; /* set to 100% so the hover rule highlights the whole word */
    box-sizing: border-box; /* this prevents the hover highlight from extending beyond the dropdown menu */
}

#dropdown_list_content li:hover {
    background-color: rgb(234, 239, 44, 0.6);
}
