body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("photos/background_lessOpacity.jpg");   /*background image with less opacity*/
    background-position: center;
    display:grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "form-image"
        "form"
        "footer";
    height: 100vh;
}
/* Styling for the header*/
.header {
    grid-area: header;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

header a:visited {
    color: white;
}

header a:hover {
    color: orange;
} 

header a:active {
    color: black;
} 

/* Main Form Container */
main {
    grid-area: form;
    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container.h1 {
    margin-bottom: 20px;
}

.form-container .form-image {
    grid-area: form-image;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.form-container .form-intro {
    grid-area: form-intro;
    font-size: 1.2em;
    color: grey;
    margin-bottom: 20px;
}
.form-container .pet-name{
    grid-area: pet-name;
    text-align: center;
    padding: 10px;
    color: grey;
    font-size: 1.5em;
    line-height: 1.5;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: grey;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus {
    background-color: aquamarine;
}

/* Buttons */
.form-actions {
    margin-top: 20px;
}

.reset-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.reset-btn:hover {
    background-color: darkred;
}

.submit-btn:hover {
    background-color: darkgreen;
}

footer {
    grid-area: footer;
}
